{
    "presets": [[
        "@babel/env",
        {"modules": false}
    ], "@babel/es2017"],
    "plugins": [
      "@babel/plugin-transform-runtime",
      "syntax-dynamic-import",
      "transform-async-to-generator"
    ]
}