{
  "presets": [
    [ "@babel/env", {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 8"]
        }
      }]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "syntax-dynamic-import",
  ]
}
