<div class="uk-modal-body">

    <h2 class="uk-modal-title">Data usage purposes</h2>
    <p>We use cookies and work with various partners to create a tailored experience for our users. 
        Below you can find all the purposes for which we collect your device data.
        <a id="vendor-list-link">Click here to view our full list of VENDORS.</a>
    </p>

    <table id="purposes-table" class="uk-table uk-table-hover uk-table-divider">
            <thead>
                <tr>
                    <th>Purpose</th>
                    <th>Details</th>
                    <th>Allow?</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Storage and access of information</td>
                    <td><a>LINK</a></td>
                    <td><input class="uk-checkbox" type="checkbox"></td>
                </tr>
                <tr>
                    <td>Personalisation</td>
                    <td><a>LINK</a></td>
                    <td><input class="uk-checkbox" type="checkbox"></td>
                </tr>
                <tr>
                    <td>Content selection, delivery, reporting</td>
                    <td><a>LINK</a></td>
                    <td><input class="uk-checkbox" type="checkbox"></td>
                </tr>
                <tr>
                    <td>Measurement</td>
                    <td><a>LINK</a></td>
                    <td><input class="uk-checkbox" type="checkbox"></td>
                </tr>
                <tr>
                    <td>Content selection, delivery, reporting</td>
                    <td><a>LINK</a></td>
                    <td><input class="uk-checkbox" type="checkbox"></td>
                </tr>
            </tbody>
        </table>
        <p class="uk-text-right">
            <button id="accept-selected" class="uk-button uk-button-default uk-modal-close" type="button">Accept Selected</button>
            <button id="accept-all" class="uk-button uk-button-primary uk-modal-close" type="button">Accept All</button>
        </p>

</div>
